<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CotizadorWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.AccesoSistemaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.seguridad.AccesoSistemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.AccesoSistemaController</servlet-name>
    <url-pattern>/AccesoSistemaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.SucursalController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.SucursalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.SucursalController</servlet-name>
    <url-pattern>/SucursalController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.PuntoVentaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.PuntoVentaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.PuntoVentaController</servlet-name>
    <url-pattern>/PuntoVentaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.EntidadController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.EntidadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.EntidadController</servlet-name>
    <url-pattern>/EntidadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.MarcaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculo.MarcaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.MarcaController</servlet-name>
    <url-pattern>/MarcaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.ModeloController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculo.ModeloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.ModeloController</servlet-name>
    <url-pattern>/ModeloController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.TipoExtraController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculo.TipoExtraController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.TipoExtraController</servlet-name>
    <url-pattern>/TipoExtraController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.TipoIdentificacionController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.TipoIdentificacionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.TipoIdentificacionController</servlet-name>
    <url-pattern>/TipoIdentificacionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.VariableSistemaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.seguridad.VariableSistemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.VariableSistemaController</servlet-name>
    <url-pattern>/VariableSistemaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.ProductoGrupoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.ProductoGrupoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.ProductoGrupoController</servlet-name>
    <url-pattern>/ProductoGrupoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UnidadNegocioController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.UnidadNegocioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UnidadNegocioController</servlet-name>
    <url-pattern>/UnidadNegocioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UnidadProduccionController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.UnidadProduccionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UnidadProduccionController</servlet-name>
    <url-pattern>/UnidadProduccionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UsuarioXPuntoVentaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.UsuarioXPuntoVentaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UsuarioXPuntoVentaController</servlet-name>
    <url-pattern>/UsuarioXPuntoVentaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.MotivoDescuentoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.MotivoDescuentoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.MotivoDescuentoController</servlet-name>
    <url-pattern>/MotivoDescuentoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.ObjetoVehiculoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculo.ObjetoVehiculoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.ObjetoVehiculoController</servlet-name>
    <url-pattern>/ObjetoVehiculoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.reportes.ReportesController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.reportes.ReportesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.reportes.ReportesController</servlet-name>
    <url-pattern>/ReportesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.EmpleadoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.EmpleadoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.EmpleadoController</servlet-name>
    <url-pattern>/EmpleadoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.ConfirmarMailController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.seguridad.ConfirmarMailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.ConfirmarMailController</servlet-name>
    <url-pattern>/ConfirmarMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.ConfirmarSolicitudDescuentoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.ConfirmarSolicitudDescuentoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.ConfirmarSolicitudDescuentoController</servlet-name>
    <url-pattern>/ConfirmarSolicitudDescuento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.SalirSistemaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.seguridad.SalirSistemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.SalirSistemaController</servlet-name>
    <url-pattern>/SalirSistema</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.ColorController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculo.ColorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.ColorController</servlet-name>
    <url-pattern>/ColorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.CotizacionController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.CotizacionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.CotizacionController</servlet-name>
    <url-pattern>/CotizacionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.EmisionVHController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculo.EmisionVHController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculo.EmisionVHController</servlet-name>
    <url-pattern>/EmisionVHController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UPLAController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.UPLAController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.UPLAController</servlet-name>
    <url-pattern>/UPLAController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.inspeccion.ComentarioSolicitudInspeccionController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.inspeccion.ComentarioSolicitudInspeccionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.inspeccion.ComentarioSolicitudInspeccionController</servlet-name>
    <url-pattern>/ComentarioSolicitudInspeccionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.archivos.CargaArchivosController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.archivos.CargaArchivosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.archivos.CargaArchivosController</servlet-name>
    <url-pattern>/CargaArchivosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.archivos.DocumentoVisadoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.archivos.DocumentoVisadoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.archivos.DocumentoVisadoController</servlet-name>
    <url-pattern>/DocumentoVisadoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.DetalleProductoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculocerrado.DetalleProductoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.DetalleProductoController</servlet-name>
    <url-pattern>/DetalleProductoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.GrupoPorProductoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculocerrado.GrupoPorProductoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.GrupoPorProductoController</servlet-name>
    <url-pattern>/GrupoPorProductoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.GrupoProductoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculocerrado.GrupoProductoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.GrupoProductoController</servlet-name>
    <url-pattern>/GrupoProductoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.TasaProductoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculocerrado.TasaProductoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.TasaProductoController</servlet-name>
    <url-pattern>/TasaProductoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.CotizacionVHCerradosController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.CotizacionVHCerradosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.CotizacionVHCerradosController</servlet-name>
    <url-pattern>/CotizacionVHCerradosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.mantenimiento.MantenimientoController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.mantenimiento.MantenimientoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.mantenimiento.MantenimientoController</servlet-name>
    <url-pattern>/MantenimientoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.FiltroPathController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.seguridad.FiltroPathController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.seguridad.FiltroPathController</servlet-name>
    <url-pattern>/static/reportes/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.TipoTasaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.TipoTasaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.TipoTasaController</servlet-name>
    <url-pattern>/TipoTasaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.TipoCoberturaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.TipoCoberturaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.TipoCoberturaController</servlet-name>
    <url-pattern>/TipoCoberturaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.ProductoCoberturaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculocerrado.ProductoCoberturaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.ProductoCoberturaController</servlet-name>
    <url-pattern>/ProductoCoberturaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.PaqueteCoberturaController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.producto.vehiculocerrado.PaqueteCoberturaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.producto.vehiculocerrado.PaqueteCoberturaController</servlet-name>
    <url-pattern>/PaqueteCoberturaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.BeneficiarioController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.BeneficiarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.BeneficiarioController</servlet-name>
    <url-pattern>/BeneficiarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.EndosoBeneficiarioController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.cotizacion.EndosoBeneficiarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.cotizacion.EndosoBeneficiarioController</servlet-name>
    <url-pattern>/EndosoBeneficiarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.DireccionController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.DireccionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.DireccionController</servlet-name>
    <url-pattern>/DireccionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.qbe.cotizador.servlets.entidad.EntidadJrController</servlet-name>
    <servlet-class>com.qbe.cotizador.servlets.entidad.EntidadJrController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.qbe.cotizador.servlets.entidad.EntidadJrController</servlet-name>
    <url-pattern>/EntidadJrController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <persistence-context-ref>
    <description>Configuracion Persistence context</description>
    <persistence-context-ref-name>CotizadorWebPC</persistence-context-ref-name>
    <persistence-unit-name>CotizadorWebPU</persistence-unit-name>
  </persistence-context-ref>
  <listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>